# Prevent unintended commits
.env
Pipfile*
__pycache__/
venv/
.vscode
.DS_Store

# Temp files
*.swp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Tests / Coverage
report.xml
coverage.xml
.coverage
.tox/
.testmondata
tests/debug.py
.pytest_cache/
